// Spacing is a set of tokens that define how to place elements within layouts and components such as
// padding, margins, and gaps. It’s based on a 2px increment scale to support consistent layout rhythm,
// scalable design decisions, and clear hierarchy.

$spacing-0: 0px;
$spacing-2: 2px;
$spacing-4: 4px;
$spacing-6: 6px;
$spacing-8: 8px;
$spacing-12: 12px;
$spacing-16: 16px;
$spacing-20: 20px;
$spacing-24: 24px;
$spacing-32: 32px;
$spacing-40: 40px;
$spacing-48: 48px;
$spacing-56: 56px;
$spacing-64: 64px;
$spacing-72: 72px;
$spacing-80: 80px;