@import '../../global-style/index.scss';

//radio styles
$radio-label-margin-bottom: getRem(8px);
$radio-label-height: getRem(19px);
$radio-label-font-size: getRem(14px);
$radio-label-letter-spacing: getRem(0.32px);
$radio-icon-height: getRem(20px);
$radio-icon-width: getRem(20px);
$radio-button-opacity: 0;
$radio-icon-opacity: 1;
$radio-container-height: getRem(20px);
$radio-container-margin-right: getRem(24px);
$radio-container-vertical-margin-bottom: getRem(8px);
$radio-container-vertical-margin-right: getRem(0px);
$radio-button-width: 100%;
$radio-button-height: 100%;
$radio-button-margin: getRem(0px);
$radio-button-top: 0;
$radio-button-left: 0;
$radio-button-z-index: 1;
$radio-container-last-child-margin-right: 0;
$radio-icon-margin-right: getRem(8px);
$radio-icon-img-top: 0;
$radio-icon-img-left: 0;

.main-label {
  display: flex;
  height: $radio-label-height;
  font-size: $radio-label-font-size;
  letter-spacing: $radio-label-letter-spacing;
  font-family: $font-type-01;
  color: $primary-txt-color;
  text-align: left;
  margin-bottom: $radio-label-margin-bottom;
  font-weight: 600;
}

.horizontal-align {
  display: flex;
}

.vertical-align {
  flex-direction: column;
}

.radio-container {
  display: flex;
  height: $radio-container-height;
  margin-right: $radio-container-margin-right;
}

.radio-container:last-child {
  margin-right: $radio-container-last-child-margin-right;
}

.radio-container-vertical {
  margin-bottom: $radio-container-vertical-margin-bottom;
  margin-right: $radio-container-vertical-margin-right;
}

.label-container {
  height: $radio-label-height;
  font-size: $radio-label-font-size;
  letter-spacing: $radio-label-letter-spacing;
  font-family: $font-type-01;
  color: $secondary-txt-color;
  text-align: left;
  vertical-align: middle;
}

.disable-label {
  color: $ui-disabled-01;
}

.radio-btn {
  opacity: $radio-button-opacity;
  position: absolute;
  width: $radio-button-width;
  height: $radio-button-height;
  margin: $radio-button-margin;
  top: $radio-button-top;
  left: $radio-button-left;
  z-index: $radio-button-z-index;
}

.radio-icon {
  position: relative;
  width: $radio-icon-width;
  height: $radio-icon-height;
  opacity: $radio-icon-opacity;
  vertical-align: middle;
  margin-right: $radio-icon-margin-right;
  display: inline-block;
}

.radio-icon img {
  position: absolute;
  top: $radio-icon-img-top;
  left: $radio-icon-img-left;
}
