@import '../../global-style/index.scss';
@import '../../global-style/tokens/colors.scss';
@import '../../global-style/tokens/radius.scss';
@import '../../global-style/tokens/spacing.scss';
@import '../../global-style/tokens/type.scss';

// font-size
$font-size-small: getRem(12px);
$font-size-medium: getRem(14px);
$font-size-large: getRem(16px);

// height
$height-small-btn: getRem(24px);
$height-medium-btn: getRem(32px);
$height-large-btn: getRem(40px);

// padding
$padding-top-small: getRem(2px);
$padding-bottom-small: getRem(3px);
$padding-left-small: getRem(8px);
$padding-right-small: getRem(8px);

$padding-top-medium: getRem(6px);
$padding-bottom-medium: getRem(7px);
$padding-left-medium: getRem(16px);
$padding-right-medium: getRem(16px);

$padding-top-large: getRem(10px);
$padding-bottom-large: getRem(11px);
$padding-left-large: getRem(16px);
$padding-right-large: getRem(16px);

// border
$border-width: getRem(1px);
$border-radius: getRem(3px);

.bds-btn {
  font-family: $font-type-01;
  border-radius: $border-radius;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  text-decoration: none;
  border: none;
  cursor: pointer;
  background-color: $primary-intr-color;
}

.bds-btn-primary {
  background-color: $primary-intr-color;
  color: $interactive-txt-color;
  &:active,
  &:focus {
    background-color: $blue-90;
  }
  &:hover {
    background-color: $blue-60-hover;
  }
}

.bds-btn-secondary {
  border: $border-width solid $med-contrast-border;
  background-color: transparent;
  color: $secondary-txt-color;
  &:active,
  &:focus {
    background-color: $gray-30;
  }
  &:hover {
    background-color: $gray-20;
  }
}

.bds-btn-textOnly {
  background-color: transparent;
  color: $secondary-txt-color;
  &:active,
  &:focus {
    background-color: $gray-30;
  }
  &:hover {
    background-color: $gray-20;
  }
}

.bds-btn-small {
  height: $height-small-btn;
  font-size: $font-size-small;
  padding-top: $padding-top-small;
  padding-bottom: $padding-bottom-small;
  padding-left: $padding-left-small;
  padding-right: $padding-right-small;
}

.bds-btn-medium {
  height: $height-medium-btn;
  font-size: $font-size-medium;
  padding-top: $padding-top-medium;
  padding-bottom: $padding-bottom-medium;
  padding-left: $padding-left-medium;
  padding-right: $padding-right-medium;
}

.bds-btn-large {
  height: $height-large-btn;
  font-size: $font-size-large;
  padding-top: $padding-top-large;
  padding-bottom: $padding-bottom-large;
  padding-left: $padding-left-large;
  padding-right: $padding-right-large;
}

.bds-btn-primary.bds-btn-disabled {
  cursor: not-allowed;
  opacity: 70%;
  &:hover {
    background-color: $primary-intr-color;
  }
}
.bds-btn-secondary.bds-btn-disabled {
  cursor: not-allowed;
  opacity: 35%;
  &:hover {
    background-color: transparent;
  }
}
.bds-btn-textOnly.bds-btn-disabled {
  cursor: not-allowed;
  opacity: 35%;
  &:hover {
    background-color: transparent;
  }
}

.bds-btn-v2 {
  @include radius(8);
  @include type-bold-60;
  font-family: $font-type-01;
  justify-content: center;
  align-items: center;
  display: inline-flex;
  border-width: 1px;
  border-style: solid;
  transition: all 0.4s ease-in-out;

  &-primary {
    background-color: $tint-primary-100;
    color: $white;
    border-color: $tint-primary-100;
    cursor: pointer;

    &:hover {
      background-color: $tint-primary-80;
      border-color: $tint-primary-80;
    }

    &:active {
      background-color: $tint-primary-60;
      border-color: $tint-primary-60;
    }
  }

  &-secondary {
    background-color: $white;
    color: $tint-primary-100;
    border-color: $tint-primary-100;
    cursor: pointer;

    &:hover {
      background-color: $tint-primary-10;
      border-color: $tint-primary-80;
    }

    &:active {
      background-color: $tint-primary-20;
      border-color: $tint-primary-60;
    }
  }

  &-tertiary {
    background-color: transparent;
    color: $tint-primary-100;
    border-color: transparent;
    cursor: pointer;

    &:hover {
      background-color: $tint-primary-10;
      border-color: $tint-primary-10;
    }

    &:active {
      background-color: $tint-primary-20;
      border-color: $tint-primary-20;
    }
  }

  &-large {
    padding: $spacing-8 $spacing-12;
    gap: $spacing-6;
  }

  &-medium {
    padding: $spacing-6 $spacing-8;
    gap: $spacing-4;
  }

  &-small {
    padding: $spacing-2 $spacing-6;
    gap: $spacing-2;
  }
}

.bds-btn-v2-primary.bds-btn-v2-disabled {
  cursor: not-allowed;
  background-color: $neutral-10;
  border-color: $neutral-10;
  color: $white;

  &:hover {
    background-color: $neutral-10;
  }
}

.bds-btn-v2-secondary.bds-btn-v2-disabled {
  cursor: not-allowed;
  background-color: $white;
  border-color: $neutral-20;
  color: $neutral-20;

  &:hover {
    background-color: $white;
  }
}

.bds-btn-v2-tertiary.bds-btn-v2-disabled {
  cursor: not-allowed;
  background-color: transparent;
  border-color: transparent;
  color: $neutral-20;

  &:hover {
    background-color: transparent;
  }
}