$gray-10: #f4f4f4;
$gray-20: #e0e0e0;
$gray-30: #c6c6c6;
$gray-40: #a8a8a8;
$gray-50: #8d8d8d;
$gray-60: #6f6f6f;
$gray-80: #393939;

$blue-20: #d0e2ff;
$blue-60: #0561a7;
$blue-60-hover: #007fe0;
$blue-70: #067fdb;
$blue-90: #0c5389;

$white: #ffffff;

$default-page-bg: #ffffff;
$primary-container-bg: #f4f4f4;
$primary-page-bg: #ffffff;
$high-contrast-bg: #393939;
$disabled-bg-fields: #f4f4f4;
//contrast & border colors
$aa-contrast: #0561a7;
$subtle-border: #e0e0e0;
$med-contrast-border: #8d8d8d;
$high-contrast-border: #161616;
$focus-border: #0561a7;
$card-border: #a8a8a8;
$unselected-tab-border-color: #a8a8a8;
$selected-tab-border-color: #067fdb;
// text and interactive colors
$primary-intr-color: #0561a7;
$secondary-intr-color: #0561a7;
$primary-txt-color: #161616;
$secondary-txt-color: #393939;
$placeholder-txt-color: #a8a8a8;
$interactive-txt-color: #ffffff;
$tertiary-txt-color: #6f6f6f;
$error-txt-color: #da1e28;
$inverse-txt-color: #ffffff;
$unselected-tab-txt-color: #525252;
$selected-tab-txt-color: #393939;
// icon and link colors
$primary-lnk-color: #0f62fe;
$visited-lnk-color: #8a3ffc;
$primary-icn-color: #161616;
$secondary-icn-color: #525252;
$interactive-icn-color: #ffffff;
$default-input-uibg2: #f4f4f4;
// interactive colors
$interactive-blue: #002d9c;
$interactive-gray: #c6c6c6;
$interactive-hover-01: #0353e9;
$interactive-hover-02: #4c4c4c;
$interactive-hover-03: #0353e9;
$interactive-txt-hover-01: #067fdb;
$interactive-active-01: #002d9c;
$interactive-active-02: #6f6f6f;
$interactive-active-03: #002d9c;
$ui-active-color: #c6c6c6;
$ui-selected-color: #e0e0e0;
$ui-disabled-01: #c6c6c6;
$ui-disabled-02: #8d8d8d;
$ui-hover-01: #e5e5e5;
$row-hover-color: #e5e5e5;
$row-selected-hover: #cacaca;
$error-color: #da1e28;
$success-color: #24a148;
$warning-color: #f1c21b;
$info-color: #067fdb;
$scroll-bar-color: #c6c6c6;
$scroll-bar-hover-color: #6f6f6f;
$page-division-color: #a8a8a8;
$danger-active-color: #750e13;
$danger-hover-color: #ba1b23;
$error-bg-color: #e15c5c;
$form-error-bg-color: #ffd3d5;
$form-error-color: #e15c5c;
$secondary-read-only-textarea-color: #525252;
$box-shadow-hover-color: #004496;
$box-shadow-unselected: #0561a780;
$link-label: #0091ff;
