@import '../../global-style/index.scss';

.bds-pill-input-wrapper {
  display: flex;
  flex-direction: row;
  border: 0.0625rem solid #a8a8a8;
  padding: 8px;
  width: 470px;
  flex-wrap: wrap;
  background-color: #FFFFFF;
  gap: 5px;

  input:disabled {
    background-color: white;
  }

  /* Style for the input field */
  .bds-pill-text-input {
    border: none;
    outline: none;
    flex: 1;
  }
}

.bds-pill-input-error-msg-text {
  font-size: getRem(12px);
  color: $error-txt-color;
  height: getRem(17px);
}

.bds-pill-input-container-error-border {
  border: 1px solid $error-txt-color;
}

.bds-pill-input-container-disabled {
  border: 0.0625rem solid #c6c6c6;
}
