@import "../../global-style/index.scss";

.bds-multi-textfield-container {
  .wrapper {
    display: flex;
  }
  .bds-multi-textfield-addBtn {
    cursor: pointer;
  }
  .bds-multi-textfield-wrapper {
    display: flex;
    align-items: center;
    gap: 5px;
  }
  .bds-multi-textfield-cross-btn-wrapper{
    display: flex;
  }
}
