@import "../../global-style/index.scss";

.bds-multi-textfield-container {
  display: flex;
  align-items: center;
  gap: 2px;

  .bds-multi-textfield-addBtn {
    cursor: pointer;
    margin: 10px 0;
  }
  .bds-multi-textfield-wrapper {
    display: flex;
    justify-content: space-between;
    gap: 5px;
  }
  .bds-multi-textfield-btnWrapper {
    display: flex;
    justify-content: center;
    align-items: center;
  }
}
