// line height
$code-01-line-height: getRem(16px);
$button-label-line-height: getRem(18px);
$caption-01-line-height: getRem(16px);
$label-01-line-height: getRem(16px);
$label-02-line-height: getRem(16px);
$page-title-line-height: getRem(26px);
$page-section-header-line-height: getRem(26px);
$helper-text-01-line-height: getRem(16px);
$body-text-line-height: getRem(22px);
$body-short-line-height: getRem(22px);
$body-long-line-height: getRem(24px);
$heading-01-line-height: getRem(18px);
$heading-02-line-height: getRem(22px);
$heading-03-line-height: getRem(26px);
$heading-04-line-height: getRem(36px);
$heading-05-line-height: getRem(40px);
$heading-06-line-height: getRem(50px);
$heading-07-line-height: getRem(64px);
// font Size
$code-01-size: getRem(12px);
$button-label-size: getRem(14px);
$caption-01-size: getRem(14px);
$label-01-size: getRem(14px);
$label-02-size: getRem(14px);
$page-title-size: getRem(22px);
$page-section-header-size: getRem(20px);
$helper-text-01-size: getRem(12px);
$body-text-size: getRem(16px);
$body-short-size: getRem(16px);
$body-long-size: getRem(16px);
$heading-01-size: getRem(14px);
$heading-02-size: getRem(16px);
$heading-03-size: getRem(20px);
$heading-04-size: getRem(28px);
$heading-05-size: getRem(32px);
$heading-06-size: getRem(42px);
$heading-07-size: getRem(54px);
// font weight
$weight-300: 300;
$weight-400: 400;
$weight-600: 600;
// letter spacing
$letter-spacing-0: getRem(0px);
$letter-spacing-0-1: getRem(0.1px);
$letter-spacing-0-16: getRem(0.16px);
$letter-spacing-0-32: getRem(0.32px);
