@import '../../global-style/index.scss';

$table-search-input-border-color: $gray-40;

$table-min-width: getRem(424px);
$table-search-box-height: getRem(56px);
$table-header-letter-spacing: getRem(0.16px);
$table-header-font-weight: 600;
$table-header-font-size: getRem(14px);
$table-header-min-width: getRem(253px);
$table-header-max-height: getRem(40px);

$resize-height: getRem(40px);
$table-resizer-border: getRem(1px);
$table-search-box-gap: getRem(10px);

$table-cell-border-color: $gray-30;
$table-cell-text-color: $gray-80;
$table-cell-border-width: getRem(1px);
$table-cell-padding-left-right: getRem(16px);
$table-cell-font-size: getRem(14px);
$table-row-hover-background: $gray-20;
$table-cell-line-height: getRem(16px);
$table-cell-letter-spacing: getRem(0.32px);
$table-cell-padding-top: getRem(24px);
$table-cell-padding-bottom: getRem(24px);
$table-cell-height: getRem(48px);
