@import '../../global-style/index.scss';

$border-radius: getRem(3px);

.bds-btn-group {
    display: flex;

    & > button:not(:last-child):not(:first-child) {
        border-radius: 0;
    }

    & > button:first-child {
        border-radius: $border-radius 0 0 $border-radius;
    }

    & > button:last-child {
        border-radius: 0 $border-radius $border-radius 0;
    }

    & > div:not(:last-child):not(:first-child) > button {
        border-radius: 0;
    }

    & > div:first-child > button {
        border-radius: $border-radius 0 0 $border-radius;
    }

    & > div:last-child > button {
        border-radius: 0 $border-radius $border-radius 0;
    }
}