@import "../../global-style/index.scss";

$font-size: getRem(14px);
$font-size-helper-text: getRem(12px);
$label-font-weight: 600;
$label-font-color: $gray-80;
$label-letter-spacing: getRem(0.32px);

$icon-width: getRem(24px);
$inline-edit-input-icon-width: getRem(34px);
$icon-height: getRem(24px);
$height-error-msg-text: getRem(17px);
$height-input-box: getRem(19px);
$input-box-width: 100%;

$line-height-input-box: getRem(19px);
$height: getRem(40px);

$border-one-px: getRem(1px);
$border-radius: getRem(2px);
$border-input-error: getRem(2px);
$border-input-focus: getRem(2px);

$padding: getRem(13px);
$padding-left-right-container: getRem(15px);
$padding-top-bottom-container: getRem(7px);
$padding-left-right: getRem(14px);
$padding-bottom-naked-focus: getRem(9px);
$padding-top-inline-focus: getRem(8px);
$padding-bottom-label: getRem(8px);
$padding-bottom-helper-text: getRem(4px);
$padding-top-icon: getRem(8px);
$padding-right-icon: getRem(16px);
$padding-left-icon: getRem(8px);
$padding-right-inline-edit-icon: getRem(8px);
$padding-top-inline: getRem(6px);

@mixin inputContainerCommon {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: $height;
  padding: $padding-top-bottom-container $padding-left-right-container;
  border: $border-one-px solid $gray-40;
  border-radius: $border-radius;
  box-sizing: border-box;
  background-color: $white;
  font-family: $font-type-01;
}

@mixin inputIconBoxCommon {
  display: flex;
  vertical-align: middle;
  height: $icon-height;
  cursor: pointer;
  align-items: center;
}

@mixin inputBoxCommon {

}

.bds-textfield-container {
  font-family: $font-type-01;
  background-color: $white;

  .bds-label {
    text-align: left;
    font-size: $font-size;
    padding-bottom: $padding-bottom-label;
    color: $label-font-color;
    font-weight: $label-font-weight;
    letter-spacing: $label-letter-spacing;
  }
  .bds-label-disabled {
    color: $ui-disabled-01;
  }
  .bds-secondary-label {
    color: $gray-50;
  }
  .bds-helper-text {
    text-align: left;
    color: $tertiary-txt-color;
    font-size: $font-size-helper-text;
    padding-bottom: $padding-bottom-helper-text;
  }

  .bds-helper-text-disabled {
    color: $ui-disabled-01;
  }

  .bds-input-container {
    @include inputContainerCommon;
  }

  .bds-inline-edit-input-container {
    @include inputContainerCommon;
    padding: getRem(7px) getRem(15px) getRem(7px) 0;

    .bds-inline-edit-input-box-buttons {
      display: none;
    }

    &:focus-within {
      .bds-inline-edit-input-box-buttons {
        display: flex;

        & > button {
          padding: 0;

          &:first-child {
            padding-right: 0.2rem;
          }

          &:hover, &:focus {
            background-color: transparent;
          }

          & > img {
            height: getRem(19px);
          }
        }

        .bds-input-box-read-only {
          display: none !important;
        }
      }
    }

    &:hover {
      background-color: $gray-20;

      &:focus-within {
        background-color: $white;
      }
    }
  }

  .bds-inline-edit-input-container-read-only {
    @include inputContainerCommon;
    padding: getRem(7px) getRem(15px) getRem(7px) 0;

    .bds-inline-edit-input-box-buttons {
      display: none;
    }

    &:hover {
      background-color: unset;
    }
  }

  .bds-input-container-disabled {
    border: $border-one-px solid $ui-disabled-01;
    cursor: default;
  }

  .bds-inline-edit-input-container-disabled {
    &:hover {
      background-color: unset;
    }
  }

  .bds-input-container-error-border {
    border: $border-input-error solid $error-txt-color;
    padding: $padding-top-bottom-container $padding-left-right;
  }
  .bds-input-container-focus:focus-within {
    border: $border-input-focus solid $info-color;
    padding: $padding-top-bottom-container $padding-left-right;
  }

  .bds-input-container > input {
    padding: 0;
  }
  .bds-input-container.bds-input-with-icon {
    padding: $padding-top-bottom-container inherit;
  }

  .bds-input-box {
    font-family: $font-type-01;
    width: $input-box-width;
    font-size: $font-size;
    background: transparent;
    vertical-align: middle;
    line-height: $line-height-input-box;
    height: $height-input-box;
    color: $secondary-txt-color;
    outline: none;
    border: none;
    overflow: hidden;
    -o-text-overflow: ellipsis;
    -ms-text-overflow: ellipsis;
    text-overflow: ellipsis;
  }
  .bds-input-box-disabled {
    color: $ui-disabled-01;
  }

  .bds-input-box-read-only {
    color: $secondary-read-only-textarea-color;
  }
  .bds-icon-box-right {
    @include inputIconBoxCommon;
    width: $icon-width;
    margin-left: $padding-right-icon;
  }

  .bds-icon-box-left {
    @include inputIconBoxCommon;
    width: $icon-width;
    margin-right: $padding-left-icon;
  }

  .bds-inline-edit-icon-box {
    @include inputIconBoxCommon;
    width: $inline-edit-input-icon-width;
    margin-left: $padding-right-inline-edit-icon;
  }

  .bds-error-msg-text {
    text-align: left;
    font-size: $font-size-helper-text;
    color: $error-txt-color;
    height: $height-error-msg-text;
  }

  .bds-inline {
    border: 0;
    outline: 0;
    border-radius: initial;
    border-bottom: $border-one-px solid;
  }

  .bds-input-container-focus.bds-inline {
    &:focus-within {
      border: $border-input-focus solid $info-color;
      padding-top: $padding-top-inline-focus;
      padding-left: $padding;
      padding-bottom: $padding-bottom-naked-focus;
    }
  }

  .bds-input-container-focus.bds-input-with-icon.bds-inline {
    &:focus-within {
      border: $border-input-focus solid $info-color;
      padding: $padding-top-inline $padding $padding-top-bottom-container;
    }
  }

  .bds-naked {
    border: 0;
    outline: 0;
    padding: 0;
  }

  .bds-inline-edit-naked-empty {
    border: $border-one-px solid $gray-40;
  }

  .bds-inline-edit-naked-error {
    border: $border-one-px solid $error-txt-color;
  }

  .bds-input-container-focus.bds-naked {
    &:focus-within {
      border: $border-input-focus solid $info-color;
      padding-top: $padding-bottom-naked-focus;
      padding-left: $padding;
      padding-bottom: $padding-bottom-naked-focus;
    }
  }

  .bds-input-container-focus.bds-input-with-icon.bds-naked {
    &:focus-within {
      border: $border-input-focus solid $info-color;
      padding: $padding-top-bottom-container $padding;
    }
  }
}
