@import '../../global-style/index.scss';

$table-search-input-border-color: $gray-40;

$table-cell-custom-height: getRem(48px);
$table-min-width: getRem(424px);
$table-search-padding-right: getRem(8px);
$table-search-padding-top-bottom: getRem(8px);
$table-search-border-color: $gray-40;
$table-search-border-width: getRem(0.5px);

$table-search-container-left-padding: getRem(8px);
$table-search-height: getRem(56px);
$table-border-color: $gray-40;
$table-border-width: getRem(1px);
$table-header-border-color: $gray-30;
$table-header-background-color: $blue-60;
$table-header-padding-top: getRem(15.5px);
$table-header-padding-bottom: getRem(16.5px);
$table-header-letter-spacing: getRem(0.5px);
$table-header-border-width: getRem(0.5px);
$table-header-font-weight: 700;
$table-header-font-size: getRem(14px);
$table-header-max-height: getRem(56px);

$table-cell-border-color: $gray-30;
$table-cell-text-color: $gray-80;
$table-cell-background-color: $gray-20;
$table-cell-border-width: getRem(0.5px);
$table-cell-padding-left-right: getRem(16px);
$table-cell-font-size: getRem(14px);
$table-row-hover-background: $gray-20;
$table-cell-line-height: getRem(19px);
$table-cell-letter-spacing: getRem(0.32px);
$table-cell-padding-top: getRem(13.5px);
$table-cell-padding-bottom: getRem(14.5px);
$table-cell-height: getRem(48px);

$overflow-menu-border-radius: getRem(3px);
$overflow-menu-padding: getRem(8px);
$overflow-menu-font-size: getRem(14px);
$overflow-menu-item-letter-spacing: getRem(0.32px);
$overflow-menu-border-color: $gray-80;
$overflow-menu-item-hover-background: $gray-20;
$overflow-menu-border-size: getRem(1px);
$resizer-hover-color: $blue-60-hover;
$resize-width: getRem(0.5px);
$resize-height: getRem(32px);
$table-header-min-width: getRem(88px);
