@import '../../global-style/index.scss';
@import './table-tokens.scss';

.bds-table-container {
  width: 100%;
  height: 100%;
  min-width: $table-min-width;

  .bds-table-sort-icon-resize-container {
    display: flex;
  }

  .bds-table {
    width: 100%;
    height: 100%;
    display: table;
    position: relative;
  }

  .bds-table-search {
    position: sticky;
    top: 0;
    z-index: 1;
    box-sizing: border-box;
    min-height: $table-search-height;
    border-bottom: none;
    display: flex;
    align-items: center;
    justify-content: end;
    flex-wrap: wrap;
    padding-right: $table-search-padding-right;
    background: $white;
    max-width: 100%;
    min-width: $table-min-width;
  }

  .bds-table-search-container {
    display: flex;
    padding-left: $table-search-container-left-padding;
    padding-top: $table-search-padding-top-bottom;
    padding-bottom: $table-search-padding-top-bottom;

    .search-container {
      border-color: $table-search-input-border-color;
    }
  }

  @mixin def-table-cell {
    box-sizing: border-box;
    padding-left: $table-cell-padding-left-right;
    padding-right: $table-cell-padding-left-right;
    color: $table-cell-text-color;
  }

  @mixin table-header-common {
    @include def-table-cell;
    border-bottom: $table-header-border-width solid $table-header-border-color;
    padding-right: 0;
    font-size: $table-header-font-size;
    min-width: $table-header-min-width;
    height: $table-header-max-height;
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    z-index: 1;
  }

  table.bds-table thead th {
    min-width: $table-header-min-width;
  }

  .bds-table-header-cell {
    @include table-header-common;
    background: $white;
  }

  .bds-table-header-cell-no-background {
    @include table-header-common;
  }

  .bds-table-header-cell:first-child {
    border-left: none;
  }

  .bds-table-header-cell:last-child {
    border-right: none;
  }

  .bds-table-header-text-icon {
    display: flex;
    justify-content: space-between;
    align-items: center;
    min-width: 0;
    overflow: hidden;
    height: 100%;
  }
  .bds-table-resizer {
    display: flex;
    background: none;
    width: $resize-width;
    height: $resize-height;
    min-width: 0;
    padding: 0 1px;
    cursor: col-resize;
  }

  .bds-table-resizer-hover {
    background: $table-border-color;
  }

  .bds-table-header-text {
    font-weight: $table-header-font-weight;
    font-family: $font-type-01;
    letter-spacing: $table-header-letter-spacing;
    overflow: hidden;
    text-overflow: ellipsis;
    -ms-text-overflow: ellipsis;
    min-width: 0;
    white-space: nowrap;
  }

  .bds-table-header-text-cursor {
    cursor: pointer;
  }

  .bds-table-header-icon {
    display: flex;
    align-items: center;
    cursor: pointer;
  }

  .bds-table-cell {
    @include def-table-cell;
    font-size: $table-cell-font-size;
    font-family: $font-type-01;
    line-height: $table-cell-line-height;
    letter-spacing: $table-cell-letter-spacing;
    padding-top: $table-cell-padding-top;
    padding-bottom: $table-cell-padding-bottom;
    border-bottom: $table-cell-border-width solid $table-cell-border-color;
    max-width: 0;
  }

  .bds-table-cell-render {
    @include def-table-cell;
    font-size: $table-cell-font-size;
    font-family: $font-type-01;
    line-height: $table-cell-line-height;
    letter-spacing: $table-cell-letter-spacing;
    border-bottom: $table-cell-border-width solid $table-cell-border-color;
    max-width: 0;
  }

  .bds-table-row-dragging .bds-table-cell,
  .bds-table-row-dragging .bds-table-cell-render {
    max-width: none !important;
  }

  .bds-table-expanded-row {
    background-color: #EEEEEE;
    transition: height 0.5s ease-in;
  }

  .bds-table-expanded-row-cell-render {
    line-height: 3.1875rem;
  }

  .bds-table-expanded-row-content-render {
    background-color: #f9f9f9;
    border-top: 2px solid #9a9696;
    vertical-align: baseline;
  }
  
  .bds-table-expanded-row-no-data-found {
    display: flex;
    justify-content: space-around;
  }

  .bds-table-expand-row {
    display: flex;
    gap: 2px;
    align-items: center;
  }

  .bds-table-expand-row-icons {
    cursor: pointer;
  }

  .bds-table-row>.bds-table-cell-render:last-child {
    border-right: none;
  }

  .bds-table-cell-custom {
    box-sizing: border-box;
    width: 100%;
    border-left: none;
    overflow: hidden;
  }

  .bds-table-row td:last-child .bds-table-cell-custom {
    border-right: none;
  }

  .bds-table-row td.bds-table-cell:last-child {
    border-right: none;
  }

  .bds-table-row-selectable:hover {
    cursor: pointer;
  }

  .bds-table-row-highlighted {
    background-color: $table-row-hover-background;
  }

  .bds-table-row:hover {
    background-color: $table-row-hover-background;
  }

  .bds-table-row:hover .bds-table-cell,
  .bds-table-cell-render {
    border-right-color: $table-row-hover-background;
    border-left-color: $table-row-hover-background;
  }

  .bds-overflow-menu-item {
    font-size: $overflow-menu-font-size;
    font-family: $font-type-01;
  }

  .bds-overflow-menu-item:hover {
    background-color: $overflow-menu-item-hover-background;
    letter-spacing: $overflow-menu-item-letter-spacing;
  }

  .bds-table-row-dragging {
    background-color: $table-row-hover-background;
    border-bottom: $table-cell-border-width solid $table-cell-border-color;
  }

  table,
  tbody,
  thead,
  tr,
  th,
  td {
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    font-size: 100%;
    vertical-align: middle;
    background: transparent;
    border-collapse: unset;
    text-indent: initial;
    border-spacing: 0;
  }

  td.bds-table-cell {
    overflow: hidden;
    text-overflow: ellipsis;
    -ms-text-overflow: ellipsis;
    height: $table-cell-height;
    white-space: nowrap;
  }

  table.bds-table {
    table-layout: fixed;
  }

  .table-infinite-scroll-inside-modal {
    &::-webkit-scrollbar {
      display: none;
    }

    -ms-overflow-style: none;
    scrollbar-width: none;
  }

  .bds-add-new-row {
    margin-top: 20px;

    table,
    th,
    td {
      background-color: #F4F4F4;
      border: none;
    }

    th {
      height: 1rem;
    }

    table {
      padding-top: 15px;
      padding-bottom: 15px;
    }
  }

  .bds-empty-new-row-header {
    th {
      height: 1px;
    }
  }

  .bds-table-column-filter {
    display: flex;
    align-items: center;
    margin-top: 0px;
  }

  .filter-menus {
    background-color: #fff;
    border: 1px solid #ccc;
    color: #333333;
    border-radius: 6px;
    position: absolute;
    min-width: 200px;
    right: 0px;
    top: 50px;
  
    &-menu-divider {
      border: 0;
      border-top: 1px solid rgba(0, 0, 0, .1);
    }
    
    &-filter-list {
      position: relative;
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      overflow-y: auto;
      max-height: 280px;
    }
    
    &-action-btns {
      margin-right: 8px;
      margin-bottom: 8px;
      justify-content: flex-end;
      display: flex;
      flex-direction: row;
      gap: 10px;
    }
    
    &-no-data-found {
      padding: 8px 12px;
    }
    
    &-filter-menus-list {
      display: flex;
      flex-direction: row;
      align-items: center;
      padding: 8px 12px;
    }
    
    &-clear-all {
      margin-left: 13px;
      margin-top: 10px;
      margin-bottom: 10px;
    }
  }
  
  .filter-icon {
    width: 22px;
    height: 22px;
    cursor: pointer;
  }
}