@import "../../global-style/index.scss";

$font-size: getRem(14px);
$font-weight-title: 700;

$icon-width: getRem(24px);
$icon-height: getRem(24px);

$padding-l: getRem(16px);
$padding-m: getRem(8px);
$padding-s: getRem(4px);

$width-snackbar: 100%;
$border-width-snackbar: getRem(1px);

.snackbar-container {
  font-family: $font-type-01;
}

.snackbar {
  box-sizing: border-box;
  opacity: 1;
  background-color: transparent;
  border: $border-width-snackbar solid $form-error-color;
  color: $form-error-color;
  width: $width-snackbar;
  display: flex;
  padding: $padding-l;
  gap: $padding-l;
  align-items: center;
}

.snackbar-title {
  display: inline-block;
  font-size: $font-size;
  font-weight: $font-weight-title;
}

.details-container {
  display: flex;
  flex-direction: column;
  gap: $padding-m;
  flex: 1;
}

.snackbar-image-title {
  display: flex;
  align-self: flex-start;
}

.snackbar-close-icon {
  background: none;
	color: inherit;
	border: none;
	padding: 0;
	font: inherit;
	cursor: pointer;
	outline: inherit;

  align-self: flex-start;
}

.snackbar-image-title img {
  width: $icon-width;
  height: $icon-height;
}

.error-list-container {
  overflow-y: auto;
  word-wrap: break-word;
  font-size: $font-size;
  display: flex;
  flex-direction: column;
  gap: $padding-s;
}
