@import '../../global-style/index.scss';


@mixin headerCommon {
  padding-bottom: getRem(8px);
  cursor: pointer;
  display: flex;
  user-select: none;
}

.accordion-container {
  .header {
    &-with-underline {
      @include headerCommon();
      border-bottom: 1px solid #a8a8a8;
    }

    &-without-underline {
      @include headerCommon();
    }

    img {
      display: inline;
      margin-right: getRem(5px);
    }
  
    .margin-top-32 {
      margin-top: getRem(32px);
    }
  
    .margin-top-8 {
      margin-top: getRem(8px);
    }
  }

  .content {
    overflow: hidden;
    
    &-expanded {
      transition: 0.2s ease-out;

      &-with-padding {
        padding-top: getRem(24px);
        padding-bottom: getRem(24px);
      }
    }

    &-closed {
      padding: 0;
      visibility: hidden;
      transition: 0.2s ease-in;
      height: 0;
    }
  }
}